{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": ["airbnb"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "globals": {
        "Babel": true,
        "React": true
    },
    "plugins": ["react"],
    "rules": {
        "no-unused-vars": "error"
    }
}